# Python Lists

In [59]:
# Program_6_4
# Working with Lists
# List is a compound/composite data type used to group together some values. List items
# need not all have the same type. A list contains items separated by commas and enclosed within square 
# brackets. 

fruits = ['apple', 'orange', 'banana', 'mango']
print(fruits)

['apple', 'orange', 'banana', 'mango']

In [60]:
fruits[:1]

['apple']

In [2]:
set_of_int = [1,2,3,4,5]

In [3]:
type(set_of_int)

list

In [4]:
type(fruits)

list

In [5]:
len(fruits)

4

In [6]:
fruits[1]

'orange'

In [7]:
fruits[1:3]

['orange', 'banana']

In [8]:
fruits[1:]

['orange', 'banana', 'mango']

In [9]:
print(fruits)

['apple', 'orange', 'banana', 'mango']

In [10]:
fruits.append('pear')

In [11]:
print(fruits)

['apple', 'orange', 'banana', 'mango', 'pear']

In [12]:
# Appending an item to a list
fruits = ['apple', 'orange', 'banana', 'mango']
fruits
fruits.append('pear')
fruits

['apple', 'orange', 'banana', 'mango', 'pear']

In [13]:
fruits = ['apple', 'orange', 'banana', 'mango', 'mango']
fruits

['apple', 'orange', 'banana', 'mango', 'mango']

In [14]:
fruits.remove('mango')
fruits

['apple', 'orange', 'banana', 'mango']

In [15]:
fruits = ['apple', 'orange', 'banana', 'mango']
fruits

['apple', 'orange', 'banana', 'mango']

In [16]:
fruits.remove('orange')
fruits

['apple', 'banana', 'mango']

In [17]:
fruits = ['apple', 'orange', 'banana', 'mango']
fruits

['apple', 'orange', 'banana', 'mango']

In [18]:
# Inserting an item in a list
fruits.insert(1, 'mango')
fruits

['apple', 'mango', 'orange', 'banana', 'mango']

In [19]:
fruits = ['apple', 'orange', 'banana', 'mango', 'mango']
fruits

['apple', 'orange', 'banana', 'mango', 'mango']

In [20]:
fruits.remove('mango')
fruits

['apple', 'orange', 'banana', 'mango']

In [21]:
fruits = ['apple', 'orange', 'banana', 'mango', 'mango']
fruits

['apple', 'orange', 'banana', 'mango', 'mango']

In [22]:
# Combining lists
vegetables =['potato', 'carrot', 'onion', 'beans', 'radish']
vegetables

['potato', 'carrot', 'onion', 'beans', 'radish']

In [23]:
eatables = fruits + vegetables
eatables

['apple',
 'orange',
 'banana',
 'mango',
 'mango',
 'potato',
 'carrot',
 'onion',
 'beans',
 'radish']

In [24]:
type(eatables)

list

In [25]:
# Mixed data types in a list
mixed = ['data', 5, 100.1, 8287398]
type(mixed)

list

In [26]:
type(mixed[0])

str

In [27]:
type(mixed[1])

int

In [28]:
type(mixed[2])

float

In [29]:
type(mixed[3])

int

In [30]:
print(mixed)

['data', 5, 100.1, 8287398]

In [31]:
# It is possible to change individual elements of a list 
mixed[0] = mixed[0] +" items"
print(mixed)

['data items', 5, 100.1, 8287398]

In [32]:
mixed[0] = mixed[0] + "4"
print(mixed)

['data items4', 5, 100.1, 8287398]

In [33]:
mixed[1] = mixed[1] + 4
print(mixed)

['data items4', 9, 100.1, 8287398]

In [34]:
mixed = ['data', 5, 100.1, 8287398]
print(mixed)

['data', 5, 100.1, 8287398]

In [35]:
mixed = ['data items', 9, 100.1, 8287398]

In [36]:
# Lists can be nested 
nested =[fruits, vegetables]
nested

[['apple', 'orange', 'banana', 'mango', 'mango'],
 ['potato', 'carrot', 'onion', 'beans', 'radish']]

In [37]:
len(nested)

2

In [46]:
nested[0]

['apple', 'orange', 'banana', 'mango', 'mango']

In [47]:
nested[1]

['potato', 'carrot', 'onion', 'beans', 'radish']

In [48]:
nested[0][0]

'apple'

In [51]:
nested[0][0] + "sweet"

'applesweet'

In [52]:
"sweet" + nested[0][0]

'sweetapple'

In [49]:
nested[0][2]

'banana'

In [50]:
nested[0,2]

TypeError: list indices must be integers or slices, not tuple

In [40]:
nested[0] + "sweet"

TypeError: can only concatenate list (not "str") to list

In [54]:
fruit = ['apple', 'banana', 'orange', 'life']
if 'lime' in fruit:
    print('Lime found!')
else:
    print('Lime not found!')

Lime not found!

In [42]:
fruit = ['apple', 'banana', 'orange', 'lime']
fruit[3]

'lime'

In [57]:
fruit = ['apple', 'banana', 'orange', 'life']
lime_pos = fruit.index('lime')

print(fruit.index('lime'))

ValueError: 'lime' is not in list

In [56]:
lime_pos

3

In [58]:
# find multiple indices

fruit = ['apple', 'banana', 'orange', 'lime', 'pears']
favourites = ['apple', 'lime']

# Find multiple indices with for loop
apples = []
for index, f in enumerate(fruit):
    if f in favourites:
        apples.append(index)
print(apples)
# [0, 3]

[0, 3]

In [45]:
# Find multiple indices with list comprehension
apples = [index for index, f in enumerate(fruit) if f in favourites]
print(apples)
# [0, 3]

[0, 3]