In [1]:
# Type conversion examples
# Convert to string

a = 10000
b = str(a)
b

'10000'

In [2]:
# Convert to integer
b = "2013"
c = int(b)
c

2013

In [3]:
# Convert to float
d = float(b)
d

2013.0

In [5]:
# Convert to list
s = "aeiou"
list(s)

['a', 'e', 'i', 'o', 'u']

In [2]:
t = "1234"
list(t)

['1', '2', '3', '4']

In [6]:
# Convert to set
x = ['mango','apple','banana','mango','banana']
y = set(x)
y

{'apple', 'banana', 'mango'}